    body{
            padding-left: 11em;
        }
        p.text{
            position: absolute;
            top: 0em;
            left: 1em;
        }
        p.text1{
            position: absolute;
            top: 2em;
            left: 20em;
        }
        p.vertical {
            position: absolute;
            top: 2em;
            left: 1em;
            background-color: aqua;
            border: 1px solid black;
            padding: 15px;
            margin: 5px;
        }
        p.horizontal {
            position: absolute;
            top: 4em;
            left: 20em;
            background-color: darkgray;
            padding: 15px;
        }
